body {
  background-color: rgb(182, 30, 30); 
  background-image: linear-gradient(to top right, rgb(98, 73, 189,1), rgb(191, 104, 241,0));
}

a:hover {
  cursor: pointer;
}

#navbar {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:0 auto;
  max-width: 1400px;
  font-size: 25px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  background-color:  rgba(63, 10, 45);
}

.navbar-item {
  padding: 10px 0 0px 20px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 60px;
  width: 100%;
  
}

.sticky + .content {
  padding-top: 85px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

#navbar a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  color:white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

#navbar a:hover {
  border-radius: 3px;
  background-color:rgba(224, 201, 160, 0.822);
  transition: background-color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
}

#navbar a:hover .dropdown {
  width: 373px; 
  background-color:rgba(224, 200, 160, 0.2);
  display: block;
  position: absolute;
  padding-left:0.5rem;
  min-width: 4rem;
  margin-top: 19px;
  left: 3.7rem;
  top: 47px;
}

.dropdown {
  display: none;
  border:1px solid rgba(216, 40, 40, 0.15);
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  position: absolute;
}

.dropdown-item {
  transition: background-color 0.2s ease-in-out, 
    border-color 0.2s ease-in-out, 
    box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
  padding: 0.5em 0.5rem;
  display: block;
}

.dropdown-item:hover {
  background-color:rgb(116, 56, 33);
  width:100%;
  position: relative;
  padding-left: 10px;
  border-radius: 0.25rem;
}


.content {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  text-align: left;
  max-width: 1200px;
  font-size: 25px;
  padding: 16px;
}

h1 {
  font-size: 46px;
  padding-top: 10px; /*Interference */
}

h2 {
  font-size: 30px;
}

table {
  background-color: white;
  border-radius: 1rem;
  border-collapse:separate;
  border-spacing: 0px;
}

tr:hover {
  background-color: lightslategray;
}

/*
td:hover {
  background-color: lightslategray;
}
*/

td,th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  text-align: center;
  background-color: rgb(83, 64, 87);
  color: white;
  padding: 12px;
}

/* th:first-child is top left */

th:first-child {
  border-radius: 1rem 0 0 0;
}

/* th:last-child is top right */
th:last-child {
  border-radius: 0 1rem 0 0;
}

/* td:first-child is the imperfect answer for bottom left, tr:last-child makes it perfect */

tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}

/* td:last-child is bottom right */

td:last-child {
  border-radius: 0 0 1rem 0;
}

td {
  background-color: white;
  color: black;
  padding: 12px;
  text-align: left;
}


.popup {
  position: fixed; 
  top: 50%; 
  left: 0; 
  transform: translate(-80%, 0); 
  height: 200px; 
  width: 100px; 
  background-color: rgb(16, 83, 109);

}

.popup:hover {
  height:300px;
  width: 400px;
  transition: width 1s, height 1s;
  transition-timing-function: ease;

}

/*
.popup:hover .sidebar {
  background-color: lightblue;
  height: 200px;
  width: 100px;
  top: 30%;
  border-radius: 0.5rem;
  border: 4px solid black;
}
*/

.sidebar-content {
  text-align:center;
}

.sidebar-content a {
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-content .top-half {
  height: 1rem;
  position: relative;
  padding-bottom: 5rem;
  border-bottom: 1px double black;
}

.bot-half {
  height: 103px;
}

.sidebar .top-half:hover {
  background-color: rgb(65, 95, 107);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

@keyframes textmovedown {
  from {top: 0px}
  to {color:white; top:40px;}
}

.top-half:hover .animation-text, .bot-half:hover .animation-text{
  position: relative;
  animation-name: textmovedown;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.sidebar .bot-half:hover {
  background-color: rgb(71, 35, 82);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out, 
    border-color 0.5s ease-in-out, 
    box-shadow 0.5s ease-in-out, 
    -webkit-box-shadow 0.5s ease-in-out;
}




