
/* Issues:
1. tr {} not working
2. Left menu bar, how to contract it the way it expands?
3. Putting a logo in a website
4. While inspecting styles, crossed-out tags and attributes?
    How to know what caused it to get crossed out?

TODO:
1. fix navbar hover transition color
*/

body {
  margin: 1px auto;
  background-color: rgb(182, 30, 30); 
  /* below background setup is referenced to fix background image split when zooming out */
  background: rgb(182, 30, 30) linear-gradient(to top right, rgb(98, 73, 189,1), rgb(191, 104, 241,0)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  cursor: pointer;
}

#navbar {
  color: white;
  font-family: 'Clarkson',Helvetica,sans-serif;
  max-width: 100%;
  font-size: 25px;
  padding-bottom: 10px;
  background-color: none;
  /*background-color:  rgba(63, 10, 45);*/
}

.navbar-item {
  padding: 10px 0 0px 70px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0.1px; /* slight imperfection */
  width: 100%;
  background-color: rgb(243, 208, 177);
  color: black;
  transition: background-color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out, 
    -webkit-box-shadow 0.3s ease-in-out;

}

.sticky + .content {
  padding-top: 86px;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

#navbar a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  color:white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

#navbar a:hover {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color:rgba(224, 201, 160, 0.822);
  transition: background-color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
}

#navbar a:hover .dropdown {
  width: 373px; 
  background-color: rgb(243, 208, 177);
  display: inline-block;
  position: absolute;
  padding-left:0.5rem;
  min-width: 4rem;
  margin-top: 12px;
  left: 4.8rem;
  top: 46px;
  border:none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
}

.dropdown {
  display: none;
  border:1px solid rgba(216, 40, 40, 0.15);
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  position: absolute;
}

.dropdown-item {
  transition: background-color 0.2s ease-in-out, 
    border-color 0.2s ease-in-out, 
    box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
  padding: 0.5em 0.5rem;
  color:black;
  display: block;
}

.dropdown-item:hover {
  background-color:rgb(235, 167, 141);
  width:100%;
  position: relative;
  padding-left: 10px;
  border-radius: 0.25rem;
}

.arrow {
  display:none;
}

.dropdown-item:hover .arrow {
  display: inline-block;
  animation-name: arrowmoveright;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  
}

@keyframes arrowmoveright {
  from {transform: translate(0,0);}
  to {transform: translate(30%,0);}
}

/*
@media screen and (max-width: 600px) {
  #navbar a:hover .dropdown {
    float:left;
    display: block;
    padding-left: 20px;

  }
}
*/

.content {
  color: white;
  font-family: 'Clarkson',Helvetica,sans-serif;
  margin: auto;
  text-align: left;
  max-width: 1200px;
  font-size: 25px;
  padding: 16px;
}

h1 {
  font-size: 46px;
  padding-top: 10px; /*Interference */
}

ul li {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

/* Start of table-related styling */
table {
  background-color: white;
  border-radius: 1rem;
  border-collapse:separate;
  border-spacing: 0px;
  overflow: hidden;
  margin-bottom: 5rem;
}

tr:hover td{
  background-color: rgba(149, 183, 216, 0.486);
}

/*
td:hover {
  background-color: lightslategray;
}
*/

td,th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  text-align: center;
  background-color: rgb(83, 64, 87);
  color: white;
  padding: 12px 20px;
}

/* th:first-child is top left */

th:first-child {
  border-radius: 1rem 0 0 0;
}

/* th:last-child is top right */
th:last-child {
  border-radius: 0 1rem 0 0;
}

/* td:first-child is the imperfect answer for bottom left, tr:last-child makes it perfect */

tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}

/* td:last-child is bottom right */

td:last-child {
  border-radius: 0 0 1rem 0;
}

td {
  background-color: white;
  color: black;
  padding: 12px;
  text-align: left;
}

/* End of table styling */

.sidebar-content {
  text-align:center;
}

.sidebar-content a {
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup {
  position: fixed; 
  top: 50%; 
  left: 0; 
  transform: translate(-30%,0); 
  height: 200px; 
  width: 35px; 
  background-color: rgb(27, 170, 226);
  border-radius: 0 0.5rem 0.5rem 0;
  transition: width 1s, height 1s;
  transition-timing-function: ease;
}

.popup:hover {
  height: 200px;
  width: 130px;
}

.popup:hover .top-half {
  border-bottom: 1px double black;
}

.popup:hover .top-half .animation-text, .popup:hover .bot-half .animation-text{
  margin:auto;
  display: inline-block;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}



.popup:hover .top-half .animation-text{
  animation-name: textslide-top;
}

.popup:hover .bot-half .animation-text {
  animation-name: textslide-bot;
}


.animation-text {
  color: black;
  transform: translate(-80%,0);
  display: none;
}



.top-half, .bot-half {
  height: 100px;
}


.top-half:hover {
  background-color: rgb(85, 74, 11);
  border-top-right-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.bot-half:hover {
  background-color: rgb(126, 13, 126);
  border-bottom-right-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out, 
    border-color 0.5s ease-in-out, 
    box-shadow 0.5s ease-in-out, 
    -webkit-box-shadow 0.5s ease-in-out;
}


@keyframes textslide-top {
  from {transform: translate(-80%,0);}
  to {color:white;opacity: 1;font-size: 20px;transform: translate(25%,110%); border-bottom: 1px double black;}
}


@keyframes textslide-bot {
  from {color:black;transform: translate(-80%,0);}
  to {color:white;opacity: 1;font-size: 25px;transform: translate(30%,70%); border-bottom: 1px double black;}
}




/*
1. mouse hovers over base class (popup)
2. base class expands; animation-text performs transition
3. mouse leaves the area
4. animation-text and base class perform returning transition


*user mouses over popup area
if (mouse hovers popup area)
    execute animation;
    replace animation with returning animation;
  
*mouse is out of area
*executes returning animation.

*/








