
{% for each_cluster in posts %}
  {% set name=each_cluster['author'] %}
  {% set each_post=each_cluster['post'] %}
  {% set likes=get_stats(each_post) %}
  {% set replies=get_replies(each_post)[0] %}
  {% set responders=get_replies(each_post)[1] %}
  {% set x=get_replies(each_post)[2] %}
  {% set date=date_format(x) %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ url_for('static', filename=name+'.png') }}" alt="Image" style="width: 65px;height: 65px;">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="{{ url_for('profile', name=name) }} "><strong>{{ name }}</strong></a> 
              <small class="tag">@{{ get_cat(name)["handle"] }}</small>
              <small class="date">{{ date }}</small>
              <br>
              {{ each_post }}
            </p>
          </div>
          <span class="interactive">
            <a class="like-section">
              <span class="like-icon">&#128157</span>
              <span class="likes">{{ likes }}</span>
            </a>
          
            <a class="comment-section">
              <span class="comment-icon">&#128172</span>
              <span class="comments">{{ replies|length }}</span>
            </a>
          </span>
        </div>
      </article>
      
    </div>
    <div class="drop-down-box">
    {% set res=[] %}
    {% for reply in replies %}
    {% set responder=responders[res|length] %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <a href="{{ url_for('profile', name=responder) }} "><strong>{{ responder }}</strong></a> <small>@{{ get_cat(responder)["handle"] }}</small> <small>31m</small>
              <br>
              {{ reply }}
            </p>
          </div>
        </div>
      </article>
      {% set __ = res.append(1) %}
    {% endfor %}
    </div>

{% endfor %}


<script>
  $('.comment-section').click(function(e) {
    var closest=$(this).closest('.box').next('.drop-down-box');
    if(closest) {closest.slideToggle();}
  });
</script>